* {
    margin: 0;
    padding: 0;
}

:root {
    --color-white: #f9f9f9;
    --bgColor: #4f2cd4;
    --color-black: #000;
}

.sidebar {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 56px;
    height: 100%;
    background: var(--bgColor);
    transition: width 0.4s;
}
 .sidebar.open {
    width: 260px;
 }
 .sidebar .inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 260px;
 }
 .sidebar header {
    display: flex;
    align-items: center;
    padding: 0 6px;
    background: rgb(0 0 0 / 25%);
 }
 /* buton menu and close */
 .sidebar-burger {
    display: grid;
    place-items: center;
    font-size: 30px;
    background: none;
    border: none;
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .sidebar header > img {
    height: 28px;
 }
.sidebar nav {
    display: grid;
    padding: 6px;
    gap: 2px;
}
.sidebar nav > button {
    display: flex;
    gap: 12px;
    align-items: center;
    height: 44px;
    width: 44px;
    font-family: "Poppins";
    font-size: 20px;
    line-height: 1;
    padding: 0 12px;
    border-radius: 8px;
    background: none;
    color: var(--color-white);
    border: none;
}
.sidebar nav > button:hover {
    background: var(--color-white);
    color: var(--color-black);
    transition: all ease .3s;
}
.sidebar header > img, 
.sidebar nav > button p {
    opacity: 0;
    transition: 0.3s;
}
.sidebar.open nav > button {
    width: 100%;
}
.notxt span {
    display: none;
}